@keyframes hum {
    from { opacity: .75;}
    to { opacity: 1;}
}

::selection {
	background: transparent;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    transition: background-color .5s ease;
}

.c-site-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

}

.c-site-hero__canvas {
    width: 1280px;
    height: 720px;
    animation: hum 1s linear alternate infinite;
    filter: brightness(1.2) contrast(1.1);
}

.js-light-mode {
	background-color: #fff;
}

.js-light-mode label {
	color: #000 !important;
}

.js-light-mode .c-site-hero__canvas {
    filter: none;
}
